<template name="room">

   

        <div class="row">

            <div class="messages-container">

                <div class="messages">

                    {{#if messages}}

                        {{#each messages}}

                            <p>
                                <span class="username">{{user}}:</span>
                                {{content}}
                                <span class="timestamp">&ndash; <span data-livestamp="{{creation_date}}"></span></span>
                            </p>

                        {{/each}}

                    {{/if}}

                </div>

                <ul class="user-list">

                    {{#if roomusers}}

                        {{#each roomusers}}
                            {{#if isNotMe this.username}}
                                <li><a href="{{pathFor 'user'}}" title="{{this.username}}" data-id="{{this.username}}">{{this.username}}</a><span class="timestamp">&ndash; <span data-livestamp="{{creationDate}}"></span></span></li>
                                
                            {{else}}
                                <li>{{this.username}} <span class="timestamp">&ndash; <span data-livestamp="{{creationDate}}"></span></span></li>
                                
                            {{/if}}
                        {{/each}}

                    {{/if}}

                </ul>

            </div>

        </div>

        <div class="row">

            <div class="add-message">

                <p class="pull-left">Logged in as: <b>{{username}}</b></p>

                <div class="form-group">

                    <textarea class="form-control message" placeholder="Write a message"></textarea>

                </div>

                <div class="form-group clearfix">

                    <input type="submit" class="btn btn-primary pull-right send-message" style="margin-left: 10px;" value="Send message" />
                    <a href="{{pathFor 'rooms'}}" class="btn btn-danger pull-right">Leave Room</a>

                </div>

            </div>

        </div>

   

</template>