.messages-container {
    height: 500px;
    border: 1px solid #DDD;
    position: relative;
}

.messages {
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    height: 498px;
    width: 75%;
}

.user-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 498px;
    overflow: auto;
    background: #EFEFEF;
    margin: 0;
    padding: 20px;
    border-left: 1px solid #DDD;
}

.user-list li {
    display: block;
    color: orange;
    font-weight: bold;
}

.username {
    font-weight: bold;
    color: orange;
}

.timestamp {
    font-size: 12px;
    color: #CCC;
}

.add-message {
    margin-top: 20px;
}

li.away {
    opacity: .5;
}

.away span {
    color: #666;
    font-style: italic;
    font-weight: normal;
}


body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}
