<template name="layout">

    <body>
        {{> sAlert}}
    </body>

    <header class="main">

        <nav id="navbar-wrapper" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="container">

                <a href="{{pathFor 'home'}}" class="navbar-brand">LOG735 : P2P Chat</a>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                    {{#if currentUser}}
                
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{pathFor 'rooms'}}" title="Videos">Chat Rooms</a></li>
                        <!--<li><a href="{{pathFor 'users'}}" title="Videos">Online users</a></li>-->
                    </ul>

                    {{/if}}

                    <ul class="nav navbar-nav navbar-right" style="">
                        {{> loginButtons}}
                    </ul>

                </div>

            </div>

        </nav>

        {{#if currentUser}}
            <div id="sidebar-wrapper" class="sidebar-toggle">
                <ul class="sidebar-nav">
                    <li>
                         <br>
                         <span><b>{{numberOfUsers}} ONLINE USER(S) :</b></span>
                         <br><br> 
                    </li>
                    {{#each users}}
                        {{#if isNotMe username}}
                         <li>
                            <a href="{{pathFor 'user'}}" title="{{this.username}}" data-id="{{this.username}}">{{this.username}}</a>
                            <span class="timestamp">&ndash; <span data-livestamp="{{status.lastLogin.date}}"></span></span>
                            <br>
                            <span class="badge">{{numberOfUnreadMessages this.username}} new message(s)</span>
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        {{/if}}

        
        

    </header>

    <section class="main">
        
        {{> yield}}

    </section>

</template>